
:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --header-title-color: #FFC2E6;
  --content-color: #353430;
  --question-color: #353430;
  --title-decor: #FF8DCB;
  --border-color: #353430;
  --rec-display: none;
  
}



  @media (prefers-color-scheme: light) {
    :root {
      --bg-image: url('../images/cover-image-light.png');
      --accent-color: #FF8DCB;
      --header-title-color: #FFC2E6;
      --content-color: #353430;
      --question-color: #353430;
      --title-decor: #FF8DCB;
      --border-color: #353430;
      --rec-display: none;
    }
      
      
    }
  
