/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-size: var(--font-size);
  font-family: var(--font);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-weight: 400;
  line-height: 130%;
}

/* Шапка */

.header {
  padding: 10px;
  height: max(100vh);
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-content: center;
  font-weight: 700;
}

/* Уголки */

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 10px;
 
}

.decorated-zone::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 10px;
}

/* Тема */

.header__theme-menu {
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px ;
  background: transparent; 
  color: var(--border-color); 
  border: none;
  text-align: center;
}

/* Действия на кнопки*/

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

/* Заголовок */

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  
}

/* Текст заголовка */

.title-text_decor {
  background-color: var(--title-decor);
  font-size: var(--font-size);
  color: var(--title-color);
}

.title_text {
  display: flex;
  align-self: center;
  line-height: 130%;
}

/* REC */

.decorative_element {
  font-weight: 400;
  line-height: 139%;
  position: absolute;
  display: var(--rec-display);
  top: 0;
  right: 0;
  content: "";
  color: var(--accent-color);
  text-align: center;
  padding-inline-end: 10px;
  text-transform: uppercase;
  margin-inline-end: 29px;
  margin-block-start: 10px;
  
}

/* Точка*/

.decorative_element::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -10px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* Текст*/

.main_content {
  margin-block: 40px;
  margin-inline: 10px ;
}

.content_section-one , .content_section-two , .content_section-three  {
  margin-block-end: 50px;
}

.question {
  margin-block-end: 10px;
  font-size: var(--font-size);
  color: var(--question-color);
}

.advice {
  margin-block: 20px 0;
}

.main_content-text {
  margin-top: 10px;
  color: var(--content-color);
}

/*Ссылки*/

.question__section-advice-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section-advice-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.question__section-advice-link:focus {
  outline: none;
}

.question__section-advice-link:focus-visible {
  border: 1px solid var(--text-color);
}

/* Галлерея */

.image_list {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; 
  max-width: 100%; 
  overflow: hidden; 
}

.image_list img {
  display: block;
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: contain;
}

/* Подвал */

.footer {
  height: max(100vh);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Для ширины 768px */

@media (min-width: 768px) {
  
  /* Шапка */

  .header {
    height: 1024px;
    padding-inline: 0 20px;
    padding-block:  20px;
    justify-items: end;
  }

  .title_header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-right: 170px;
  }

  .title_text {
    inline-size: 49%;
  }

  .header__theme-menu-list {
    padding-top: 5px;
  }

  /* REC */

.decorative_element {
  padding-inline-end: 20px;
  margin-inline-end: 29px;
  margin-block-start: 20px;
}

/* Уголки */

.decorated-zone::before {
  margin: 20px;
}

.decorated-zone::after {
  margin: 20px;
}

/* Точка*/

.decorative_element::after {
  right: 0px;
}

/* Тема */

.header__theme-menu {
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.6px 13px ;
  background: transparent; 
  color: var(--border-color); 
  border: none;
  text-align: center;
}

/* Текст */


.main_content {
  margin-block: 40px 60px;
  margin-inline: 20px ;
}

.question {
  margin-block: 20px 0;
  margin-inline-end: 10px;
}

.advice {
  margin-block: 20px 0px;
}

.main_content-text {
  color: var(--content-color);
}   

.content_section-one , .content_section-three {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-block-end: 60px;
  }

.content_section-two {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    margin-block-end: 60px;
  }

  .content_section-three {
    margin-block-end: 80px;
  }
  
  .content_section-two > div:first-child {
   grid-column: 1 ;
  }

  .content_section-two > div:nth-child(n+2) {
    grid-column: 1 / 3 ;
   }

.image_list {
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px;
    overflow: hidden;
    list-style: none;
  }
  
  .image_list img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block; 
  }
  
  /* Закат */

  .image-list_item:nth-child(1) {
    grid-column:  1 / 3;
  }

 /* Мороженое */

  .image-list_item:nth-child(2) {
    grid-column:  3;
    grid-row: 1 / -2;
  }

  /* Кассеты */

  .image-list_item:nth-child(3) {
    grid-row: 2 / 4;

  }

/* Книги */

  .image-list_item:nth-child(4) {
    grid-row:  2 ;
    grid-column: 2;
  }

/* Улица */

  .image-list_item:nth-child(5) {
    grid-column: 2 / -1;
  }
  
  .footer {
    height: max(100vh , 1024px)
  }

  }

  

/* Для ширины 1024 */

  @media (min-width: 1024px) {

  .title {
    font-size: var(--desctop-size);
    }

    /* Тема */

  .header__theme-menu-list {
    line-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.question {
  margin: 0;
}

.content_section-one {
  gap: 20px;
}
.content_section-two {
  display: grid;
  align-items: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content_section-two > div:nth-child(1) {
  grid-column: 1 ;
  grid-row: 1;

}

.content_section-two > div:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.content_section-two > div:nth-child(3) {
  grid-column: 2;
  grid-row: 2;

}

.content_section-two > div:nth-child(4) {
  grid-column: 3;
  grid-row: 2;
}
  
}
  
